# nyxt.desktop --> ~/.local/share/applications/nyxt.desktop
[Desktop Entry]
Name=Nyxt
Comment=The Hackers Browser
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=/usr/bin/flatpak run --branch=master --arch=x86_64 --command=nyxt --file-forwarding engineer.atlas.Nyxt-Electron @@u %u @@
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=engineer.atlas.Nyxt-Electron
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
StartupWMClass=nyxt
X-Flatpak-RenamedFrom=nyxt.desktop;
X-Flatpak=engineer.atlas.Nyxt-Electron
